<!DOCTYPE html>
<html>
	<head>
		<% include pub/meta.html %>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/base.css' />
	</head>
	<body>
		<!-- 头部 -->
		<% include pub/head.html %>
		<section id="main" class="clearfix">
			<!-- 导航栏 -->
			<aside class="sidebar">
				导航栏
			</aside>
			<!-- 内容栏 -->
			<div id="wrap">
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
				<p>jkdjfkaj</p>
			</div>
		</section>
	</body>
</html>