<!DOCTYPE html>
<html>
	<head>
		<% include pub/meta.html %>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/base.css' />
		<link rel='stylesheet' href='/css/admin.css' />
	</head>
	<body>
		<!-- 头部 -->
		<% include pub/head.html %>
		<section id="main" class="clearfix">
			<!-- 导航栏 -->
			<aside class="sidebar">
				<div class="post-home clearfix" id="index_tool">
					<h3>信息统计</h3>
					<ul class="tool_icon">
						<li><a href="http://www.boxui.com/tools" class="ps" title="无所不能的神器 - Photoshop" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="ai" title="Adobe王牌矢量工具 - Illustrator" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="axure" title="应用最广泛的交互原型工具 - Axure" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="mindmanage" title="思维导图，脑图 - mindManage" target="_blank"></a></li>
					</ul>
					<h3>设计辅助</h3>
					<ul class="tool_icon">
						<li><a href="http://www.boxui.com/tools" class="cutAndSliceMe" title="切图神器 - Cut And Slice Me" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="markman" title="设计图标注神器，前端再也不用担心我的设计稿了 - Mark man" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="guideguide" title="划参考线神器 - GuideGuid e" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="kuler" title="Adobe官方御用配色插件 - Kuler" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="kuler" title="Adobe官方御用配色插件 - Kuler" target="_blank"></a></li>
					</ul>
					
					<h3>设计必备</h3>
					<ul class="tool_icon">
						<li><a href="http://www.boxui.com/tools" class="ps" title="无所不能的神器 - Photoshop" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="ai" title="Adobe王牌矢量工具 - Illustrator" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="axure" title="应用最广泛的交互原型工具 - Axure" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="mindmanage" title="思维导图，脑图 - mindManage" target="_blank"></a></li>
					</ul>
					<h3>设计辅助</h3>
					<ul class="tool_icon">
						<li><a href="http://www.boxui.com/tools" class="cutAndSliceMe" title="切图神器 - Cut And Slice Me" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="markman" title="设计图标注神器，前端再也不用担心我的设计稿了 - Mark man" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="guideguide" title="划参考线神器 - GuideGuid e" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="kuler" title="Adobe官方御用配色插件 - Kuler" target="_blank"></a></li>
					</ul>
					
					<h3>设计必备</h3>
					<ul class="tool_icon">
						<li><a href="http://www.boxui.com/tools" class="ps" title="无所不能的神器 - Photoshop" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="ai" title="Adobe王牌矢量工具 - Illustrator" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="axure" title="应用最广泛的交互原型工具 - Axure" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="mindmanage" title="思维导图，脑图 - mindManage" target="_blank"></a></li>
					</ul>					
					<h3>设计辅助</h3>
					<ul class="tool_icon">
						<li><a href="http://www.boxui.com/tools" class="cutAndSliceMe" title="切图神器 - Cut And Slice Me" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="markman" title="设计图标注神器，前端再也不用担心我的设计稿了 - Mark man" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="guideguide" title="划参考线神器 - GuideGuid e" target="_blank"></a></li>
						<li><a href="http://www.boxui.com/tools" class="kuler" title="Adobe官方御用配色插件 - Kuler" target="_blank"></a></li>
					</ul>
					
					
				</div>
			</aside>
			<!-- 内容栏 -->
			<div id="wrap" class="home clearfix">
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				<div id="post-19764" class="post-home">
				  <div class="post-thumbnail">
					<a class="inimg" href="#l" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank">
						<img alt="宠缘，我自己想的app，是宠物交友的软件" width="285" height="320" src="http://www.boxui.com/blog/wp-content/uploads/2014/11/043309xke-boxuiW285boxuiH320.jpg">
					</a>
					<div class="img_title"><a href="#" target="_blank">我自己想的app，是宠物交友的软件，当然主人之间有什么想法我就不知道了</a></div>
				  </div>
				  <!--end .post-thumbnail -->
				  <div class="post-info">
					<ul class="title"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html" rel="bookmark" title="宠缘，我自己想的app，是宠物交友的软件" target="_blank" class="on-hover">宠缘，我自己想的app，是宠物交友的软件</a></ul>
					<ul class="others">
						<li class="in_category">UI设计</li>
						<li class="likes"><span class="wpfp-span"><a class="wpfp-link wizylike_icon" href="?wpfpaction=add&amp;postid=19764" title="已有25人收藏，点击可加入收藏" rel="nofollow">25</a></span></li>
						<li class="comments"><a href="http://www.boxui.com/ued/ui-design-ued/19764.html#respond" title="《宠缘，我自己想的app，是宠物交友的软件》上的评论">0</a></li>
						<li class="views">1,347</li>
					</ul>
				  </div>
				</div>
				
				
				
				
				
			</div>
			
			<!-- 翻页插件 -->
			<div class="pagination side-page">
              <ul>
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>		
			
			<!-- 回到顶部 -->
			<a class="return-top wbtn" id="elevator" href="#main" style="display: block;">▲<br>顶部</a>
		</section>
		
		<script type="text/javascript" src="js/lib/zepto.min.js"></script>
		<script type="text/javascript" src="js/gallery/pagenav.js"></script>
		
	</body>
</html>