<!DOCTYPE html>
<html>
	<head>
		<% include pub/meta.html %>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/index-new.css' />
	</head>
	<body class="home blog">
		<iframe id="sina_anywhere_iframe" style="display: none;"></iframe>
		<!-- header -->
		<div id="header" style="top: 0px;">
			<div id="header-inner">
				<div id="header-box">
					<div id="logo"> 
						<h2><a href="#" >中国艺术版权银行</a></h2>
						<span>艺术家的领地</span>     
					</div>
				<div class="menu">
					<li class="cat-item cat-item-11" style="background:#fff;color:#000"><a  href="#" style=" float:left;color:#333">首页</a><span id="show_status" class="show_status_up"></span></li>
				</div>
				<div class="my_menu">
					<ul id="menu-ui_design" class="menu">
						<li id="menu-item-13605" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13605"><a href="#">版权公示</a></li>
						<li id="menu-item-13604" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13604"><a href="#">会员中心</a></li>
					</ul>
				</div>
				<div id="member">
					<ul>
						<li id="search">
							<form method="get" id="searchform" action="">
								<input type="text" class="i_search" value="搜索" name="s" id="s" size="15" onfocus="this.value = this.value == this.defaultValue ? '' : this.value;$('#s').animate({width:'200px'});" onblur="this.value = this.value == '' ? this.defaultValue : this.value;$('#s').animate({width:'40px'});">
								<input type="submit" id="searchsubmit" value="" onclick="javascript:if(searchform.s.value=='搜索'){ $('#s').animate({width:'200px'}); $('#s').focus();return false;}">
							</form>
						</li>
						<li id="login">
							<a id="login-trigger" href="#" class="login" >登录</a>
							<div id="login-content" class="hidden">
								<form action="http://www.boxui.com/blog/wp-login.php" method="post">
									<div>
										<p><label>用户名</label></p>
										<input id="log" type="text" name="log" value="" size="20" tabindex="1">
										<p><label style="line-height:2em;">密码</label><a style="float:right;" href="#">忘记密码?</a></p>
										<input type="password" name="pwd" id="pwd" size="20" tabindex="2">
									</div>
									<div id="actions">
										<input type="submit" name="submit" value="登录" class="button" tabindex="3">
										<label><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever">&nbsp;保持登录状态</label>
										<input type="hidden" name="redirect_to" value="/">
										<br clear="all">
									</div>
									<div>
										<p class="t_login_text t_login_text1">您可以用合作网站帐号登录(<span style="color:#4ba6e5">免注册</span>):</p>
										<p class="connectBox1 t_login_button"><a ></a></p>
										<br>
									</div>
								</form>
							</div>
						</li>
						<li id="register"><a  href="#" class="login">注册</a></li>
						<li class="sina_gz">
							<a href="#">购物车</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		<!--end header-box--> 
		</div>
	</div>
	<!-- end header -->
	<div style="height:40px;"></div>
	<!-- sub nav -->
	<div class="cate_form" style="display: block; position: static;">
		<div class="head_category">
			<div class="category_main">
				<li class="cat-item cat-item-385"><a href="#" >绘画</a>
					<ul class="children">
						<li class="cat-item cat-item-511"><a href="#">国画</a></li>
						<li class="cat-item cat-item-512"><a href="#">油画</a></li>
						<li class="cat-item cat-item-513"><a href="#">版画</a></li>
						<li class="cat-item cat-item-554"><a href="#">墙体画</a></li>
					</ul>
				</li>
				<li class="cat-item cat-item-559"><a href="#" >书法</a>
					<ul class="children">
						<li class="cat-item cat-item-509"><a href="#" >行书</a></li>
						<li class="cat-item cat-item-510"><a href="#" >隶书</a></li>
						<li class="cat-item cat-item-560"><a href="#" >草书</a></li>
					</ul>
				</li>
				<li class="cat-item cat-item-559"><a href="#" >其他艺术</a>
					<ul class="children">
						<li class="cat-item cat-item-509"><a href="#" >摄影</a></li>
						<li class="cat-item cat-item-510"><a href="#" >艺术家</a></li>
						<li class="cat-item cat-item-560"><a href="#" >绘画控制</a></li>
					</ul>
				</li>
				<li class="cat-item cat-item-559"><a href="#" >加入我们</a>
					<ul class="children">
						<li class="cat-item cat-item-509"><a href="#" >行政管理</a></li>
						<li class="cat-item cat-item-510"><a href="#" >作品编辑</a></li>
						<li class="cat-item cat-item-560"><a href="#" >媒体宣传</a></li>
					</ul>
				</li>
				
				<!-- <li class="post_tips"><a href="#" >我也要分享</a></li> -->
			</div>
		</div>
	</div>
	<!-- end sub nav -->
	
	<div id="wrap">
		<div id="container">
			<div id="slideshow" class="post-home clearfix">
				<ul class="banner" style="overflow: hidden; width: 66%; height: 390px;">
					<span class="unslider-arrow prev" style="display: none;"></span>
					<span class="unslider-arrow next" style="display: none;"></span>
					<ul style="width: 400%; position: relative; left: -300%; height: 390px;">
                        <li style="width: 25%;">
							<a class="inimg" href="#" >
								<img  src="/img/indexnew/timthumb.jpg">
							</a>
							<div class="banner_info" style="top: 400px;">
								<div class="title">
									涟漪-微质感手机主题<span>UI设计</span>
								</div>
								<div class="description">
									<p>看腻了扁平，来点微质感也不错。如沐春风，如鱼戏水</p>
								</div>
							</div>
						</li>
                        <li style="width: 25%;">
							<a class="inimg" href="#" >
								<img  src="/img/indexnew/timthumb2.jpg">
							</a>
							<div class="banner_info" style="top: 400px;">
								<div class="title">
									点点送餐App<span>UI设计</span>
								</div>
								<div class="description">
									<p>点点送餐3.0版，界面清爽自然，不错。</p>
								</div>
							</div>
						</li>
                        <li style="width: 25%;">
							<a class="inimg" href="#" >
								<img alt="AYR-Bonobos旗下女性独立服装品牌-极致的细节处理" src="/img/indexnew/timthumb3.jpg">
							</a>
							<div class="banner_info" style="top: 400px;">
								<div class="title">
									AYR-Bonobos旗下女性独立服装品牌-极致的细节处理<span>酷站欣赏</span>
								</div>
								<div class="description">
									<p>AYR是四季的缩写，也是苏格兰一个海滨小镇的名字。这是Bonobos的第三个独立品牌。</p>
								</div>
							</div>
						</li>
                        <li style="width: 25%;">
							<a class="inimg" href="#" >
							<img alt="AYR-Bonobos旗下女性独立服装品牌-极致的细节处理" src="/img/indexnew/timthumb.jpg">
							</a>
							<div class="banner_info" style="top: 400px;">
								<div class="title">
									夏威夷美食葡萄酒节<span>酷站欣赏</span>
								</div>
								<div class="description">
									<p>夏威夷美食葡萄酒节</p>
								</div>
							</div>
						</li>
                      </ul>
				</ul>
				<ul class="index_post_list">
					<h2>读 . 资讯</h2>
					<li>
						<a href="#" >博纳尚斯推出中国艺术版权开幕式 ...</a>
						<div>公司活动                &nbsp;|&nbsp;                2014-9-30</div>
					</li>
					<li>
						<a href="#" >中国宋庄·首届中国艺术版权作品展</a>
						<div>作品展览                &nbsp;|&nbsp;							2014-9-30 </div>
					</li>
                    <li>
						<a href="#" >第一批艺术家作品线上公示</a>
						<div>版权公示                &nbsp;|&nbsp;					2014-11-04 </div>
					</li>
                    <li>
						<a href="#" >如何让头脑风暴更有效率</a>
						<div>设计理念                &nbsp;|&nbsp;                2014-11-04 </div>
					</li>
                    <li>
						<a href="#" >怎样深入做用户分析</a>
						<div>用户研究                &nbsp;|&nbsp;               2014-11-03</div>
					</li>
                    <li id="msg_scroll">
						<ul style="margin-top: 0px;">
							<li class="text_job">
                				<a href="#" >博纳尚斯招聘UI设计师</a>
				            </li>
							<li class="text_party">
                				<a href="#" >博纳尚斯登上今日头条</a>
				            </li>
							<li class="text_news">
								<a href="#" >艺术家如何保护自己的版权</a>
				            </li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="post-home clearfix" id="index_tool">
				<ul><h2 class="title">平台功能快速入口</h2></ul>
				<ul class="tool_icon">
					<!--<h3>设计必备</h3>-->
					<li><a href="#" ></a></li>
					<li><a href="#" ></a></li>
					<li><a href="#" ></a></li>
					<li><a href="#" ></a></li>
				</ul>
				
				<ul class="tool_icon">
					<h3>最火的艺术家</h3>
					<li><a href="#" ></a></li>
					<li><a href="#" ></a></li>
					<li><a href="#" ></a></li>
					<li><a href="#" ></a></li>
				</ul>
			</div>
			<div class="post-home clearfix" id="index_book">
				<a href="#">
					<span class="title">艺术家</span>
					<span class="caption">必</span>
					<span class="txt">读手册</span>
				</a>
				
			</div>
			<!-- book -->
			<div class="post-inner">
				<div class="blockquote" style=" overflow:hidden;">
					<div class="float_left" style="word-break:break-all;">
						艺术家，该涨涨姿势了！<br>
						在这里您可以保护自己的版权，可以出售自己的作品，还可以购买需要的权利。<br>
					</div>
					<div class="float_right" style="width:250px;">
						<p style="color:#4ba6e5;">这么好的平台别忘了分享给更多的人哦</p>
						<div class="bdsharebuttonbox bdshare-button-style0-32" data-bd-bind="1416840143841"><a class="bds_more" href="http://share.baidu.com/code#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="http://share.baidu.com/code#" tangram_guid="TANGRAM_280" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="http://share.baidu.com/code#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="http://share.baidu.com/code#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="http://share.baidu.com/code#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="http://share.baidu.com/code#" data-cmd="weixin"></a></div>
						<script type="text/javascript">
							window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
						</script>
					</div>
				</div>
				
				<div class="book">
					<div class="book_sort">
						<ul style="width: 180px;"><h3>版权作品</h3></ul>
						<ul class="book_single" style="width: 380px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/a_1.jpg">
							</li>
							<li class="book_info">
								<div class="title">候鸟</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						 </ul>
						 
						 <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/a_9.jpg">
							</li>
							<li class="book_info">
								<div class="title">竹林细雨</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
						  
						  <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="Don't Make Me Think" src="/img/indexnew/a_3.jpg">
							</li>
							<li class="book_info">
								<div class="title">树林雨后</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
						  
						  <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/a_4.jpg">
							</li>
							<li class="book_info">
								<div class="title">山路</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
						  
						  <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/a_5.jpg">
							</li>
							<li class="book_info">
								<div class="title">松原山下</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
					  </div>
					  
					  <div class="book_sort">
						<ul style="width: 180px;"><h3>应用作品</h3></ul>
						<ul class="book_single" style="width: 380px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/cyg_1.jpg">
							</li>
							<li class="book_info">
								<div class="title">候鸟</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						 </ul>
						 
						 <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/cyg_2.jpg">
							</li>
							<li class="book_info">
								<div class="title">竹林细雨</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
						  
						  <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="Don't Make Me Think" src="/img/indexnew/cyg_3.jpg">
							</li>
							<li class="book_info">
								<div class="title">树林雨后</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
						  
						  <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/cyg_14.jpg">
							</li>
							<li class="book_info">
								<div class="title">山路</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
						  
						  <ul class="book_single" style="width: 180px;">
							<li class="book_img">
								<img width="180" height="240" alt="" src="/img/indexnew/cyg_10.jpg">
							</li>
							<li class="book_info">
								<div class="title">松原山下</div>
								<div class="author">作者：陈义刚</div>
								<div class="description">艺术家<strong>简单描述下作者的基本信息</strong>，这里也可以放作品的基本信息！</div>
								<a class="btn_orange" >加入购物车</a>
							</li>
						  </ul>
					  </div>
					  
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- footer -->
	<div id="footer">
		<div class="main">
			<ul class="title_img">
				 <h3>新手上路</h3>
				<li><a href="#" >支付方式</a></li>
				<li><a href="#" >发票制度</a></li>
				<li><a href="#" >积分计划</a></li>
				<li><a href="#" >积分计划</a></li>
			</ul>
			<ul class="title_img">
				<h3>关于我们</h3>
				<li><a >企业文化</a></li>
				<li><a >公司宗旨</a></li>
				<li><a >联系地址</a></li>
				<li><a >法律声明</a></li>
			</ul>
			<ul class="title_img">
				<h3>加入我们</h3>
				<li><a >最新职位</a></li>
				<li><a >商务合作</a></li>
			</ul>
			<ul class="title_img">
				<h3>友情链接</h3>
				<li><a >旗下公司1</a></li>
				<li><a >旗下公司2</a></li>
			</ul>
			
				<ul>
			<li>客服热线：<a href="#">2603064</a></li>
			<li>Copyright © 2014 <a href="#" >中国艺术版权银行</a> All rights reserved    
		  </li></ul>
		</div>
	</div>
	<!-- 回到顶部 -->
	<a class="return-top wbtn" id="elevator" href="#">▲<br>顶部</a>
	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/js/gallery/unslider.min.js"></script>
	<script type="text/javascript" src="/js/app/boxui.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(window).scroll(function(){
			if($(this).scrollTop()!=0){
			$('#elevator').fadeIn();
		}
		else{
			$('#elevator').fadeOut();} });
			$('#elevator').click(function(){  //back to top
			$('body,html').animate({scrollTop:0},200);});
		});
	</script>
	
	</body>
</html>